#about-h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
}

.about-main-box {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  iframe {
    width: 100%;
    height: 50vh;
    align-items: center;
  }
}
.about-description {
  padding-top: 40px;
  h2 {
    color: green;
    font-size: 45px;
    text-align: center;
  }
  h4 {
    font-size: 30px;
    font-weight: 300;
  }
}

.employees {
  background-color: white;
  padding: 40px 0;
  h2 {
    color: green;
    padding: 20px 0px;
    text-align: center;
  }
}

.employee-box {
  display: flex;
  justify-content: space-around;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-chair {
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    color: green;
    padding: 20px 0px;
    text-align: center;
  }
}

.board-chair-text {
  padding-top: 20px;
  h4 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
  }
}

.board-chair-description {
  display: flex-wrap;
  justify-content: space-between;
  iframe {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}
