#a-h3 {
  font-style: normal;
  font-weight: 600;
}

.a-description {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  iframe {
    width: 100%;
    height: 50vh;
    align-items: center;
  }
}
.a-main-box {
  padding-top: 40px;
  text-align: justify;
  h2 {
    color: green;
  }
  h4 {
    font-weight: 300;
  }
}

.employees {
  background-color: white;
  padding: 40px 0;
  h2 {
    color: green;
    padding: 20px 0px;
    text-align: justify;
  }
}

.employee-box {
  display: flex;
  justify-content: space-around;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-chair {
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    color: green;
    padding: 20px 0px;
    text-align: justify;
  }
}

.board-chair-text {
  h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: justify;
  }
}

.board-chair-description {
  display: flex-wrap;
  justify-content: space-between;
  iframe {
    width: 100%;
    height: 100%;
  }
}
