.programs-title {
  padding-top: 40px;
  h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
}

.programs-description {
  padding: 60px 0;
}

.programs-description-points {
  h4 {
    padding-top: 30px;
    font-weight: 300;
  }
}
