.programs-title {
  h3 {
    font-weight: 300;
    text-align: justify;
  }
}

.programs-description {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: justify;
}

.programs-description-points {
  h4 {
    padding-top: 30px;
    font-weight: 300;
  }
}

.programs-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    padding-top: 30px;
    font-weight: 300;
  }
}
