<div class="programs-description" id="education">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_education.jpg" %>')">
      <h2>EDUCATION</h2>
    </div>

    <div class="programs-description-points">
      <h4>MELJ Center provides education programs that fulfill our mission of providing effective opportunities for at-risk youth and Formerly Incarcerated Persons as they work to reestablish their lives. Our programs assist our clients in building on existing skills as well as acquiring new skills which will help them achieve success. MELJ Center education programs include:</h4>
      <h4>
        <li>Life skills classes. This 8 hour program meets on Monday, Tuesday, and Wednesday.</li>
        <li>Adult basic education.</li>
        <li>GED proficiency preparation.</li>
      </h4>
    </div>
    <%= render 'programs/programscontactbutton' %>
  </div>
