<div class="programs-description" id="counseling">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_counseling.jpg" %>')">
      <h2>COUNSELING</h2>
    </div>

    <div class="programs-description-points">
      <h4>MELJ Center offers a number of counseling programs for at-risk youth and Formerly Incarcerated Persons. Our programs address the broad range of challenges and choices participants encounter as they re-establish their lives.</h4>
      <h4>
      <strong>MELJ Center counseling programs currently are NOT available to the public. We are providing consultation for those who seek mental or emotional wellness assistance, solely.</strong>
      </h4>
    </div>
    <%= render 'programs/programscontactbutton' %>
  </div>
