<div class="programs-description" id="employment">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_employment.jpg" %>')">
        <h2>EMPLOYMENT FOR ME</h2>
    </div>

    <div class="programs-description-points">
      <h4>Designed for youth ages 17 and up and Formerly Incarcerated Persons, this program offers training and guidance to participants who have never been employed as well as those who have been displaced and require assistance in becoming re-employed. Participants in Employment for Me receive:</h4>
      <h4>
        <li>Counseling services.</li>
        <li>Housing referrals and assistance in securing stable housing.</li>
        <li>Referral to programs that can aid FIPs in becoming mentors.</li>
        <li>Assistance in securing restoration of civil rights if eligible.</li>
        <li>Assignment of or assistance in locating legal counsel for participants to confer with regarding issues stemming from probation/parole.</li>
        <li>Assistance in re-connecting participants and their family members.</li>
        <li>Educational programs for furthering their education and work-readiness.</li>
        <li>Opportunities to participate in organized athletic leagues.</li>
      </h4>
    </div>
    <%= render 'programs/programscontactbutton' %>
  </div>
