<div class="programs-description" id="forreal">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_forreal.jpg" %>')">
      <div class="container">
        <h2>FOR REAL</h2>
        <h3>Forever Omitting Recidivism, Restructuring, Educating & Activating Life</h3>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>This program is designed to assist Formerly Incarcerated Persons (FIPs) with every aspect of re-establishing their lives. Participants in FOR REAL receive:</h4>
      <h4>
        <li>Counseling services.</li>
        <li>Housing referrals and assistance in securing stable housing.</li>
        <li>Referral to programs that can aid FIPs in becoming mentors.</li>
        <li>Assistance in securing restoration of civil rights if eligible.</li>
        <li>Assignment of or assistance in locating legal counsel for participants to confer with regarding issues stemming from probation/parole.</li>
        <li>Assistance in re-connecting participants and their family members.</li>
        <li>Educational programs for furthering their education and work-readiness.</li>
        <li>Opportunities to participate in organized athletic leagues.</li>
      </h4>
    </div>
  </div>
