<div class="programs-description" id="counseling">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_counseling.jpg" %>')">
      <div class="container">
        <h2>COUNSELING</h2>
      </div>
    </div>

    <div class="programs-description-points">
      <h4>MELJ Center offers a number of counseling programs for at-risk youth and Formerly Incarcerated Persons. Our programs address the broad range of challenges and choices participants encounter as they re-establish their lives. MELJ Center counseling programs include:</h4>
      <h4>
        <li>Court-ordered chemical dependency counseling for probationers and parolees.</li>
        <li>Supportive group counseling. This 12-week program includes an assessment/intake interview, a weekly supportive group counseling session, and individual appointments scheduled as needed.</li>
        <li>Anger management groups.</li>
      </h4>
    </div>
  </div>
