<div class="programs-description" id="hope">

    <div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_hope.jpg" %>')">
        <h2>HOPE</h2>
        <h3>Helping Other People Excel</h3>
    </div>

    <div class="programs-description-points">
      <h4>Designed to support at-risk youth aged 13-21, HOPE offers benefits to any young person who wishes to participate. HOPE meets in two separate groups, one for males and one for females. Participants in HOPE receive:</h4>
      <h4>
        <li>Preparation and knowledge for entering the work world.</li>
        <li>Political participation and development of awareness of community needs.</li>
        <li>Practice in daily social and etiquette skills.</li>
        <li>Access to a licensed counselor available for weekly discussions or assistance.</li>
        <li>Encouragement to complete their education, stay drug-free and practice abstinence.</li>
        <li>Opportunities to explore their cultural heritage through activities.</li>
      </h4>
    </div>

  </div>
