<div class="landing-about-box">
  <div class="row">
    <div class="col-sm-6 col-12 landing-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "banner_about.jpg" %>')">
      <h3><lighter>WHAT </lighter><strong>WE DO</strong></h3>
      <%= link_to 'LEARN MORE', about_path, class: "btn btn-success" %>
    </div>
    <div class="col-sm-6 col-12 landing-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "banner_programs.jpg" %>')">
      <h3><lighter>FIND </lighter><strong>A PROGRAM</strong></h3>
      <%= link_to 'LEARN MORE', programs_path, class: "btn btn-success"%>
    </div>
  </div>
</div>
