<div class="container landing-donate-box">
  <div class="landing-donate flex-wrap">
    <div>
      <h1><strong>DONATE</strong> TODAY!</h1>
      <h2>HELP MAKE AN IMPACT</h2>
    </div>
    <div>
      <%= image_tag "donate.png", class: "image-donate"%>
    </div>
  </div>
  <div id="btn-donate">
    <%= link_to "DONATE", "https://www.paypal.com/fundraiser/112574644767835624/charity/1747512", class: 'btn btn-success'%>
  </div>
</div>
