<div class="col-sm-12 col-12 landing-news" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_news.jpg" %>')">
  <div>
    <h3>TUNE IN EVERY FIRST THURSDAY OF THE MONTH</h3>
    <h3>[9-10 AM]</h3>
    <h2>IRON SHARPENS IRON</h2>
    <h1>88.7 FM</h1>
  </div>
  <a href="https://www.mixcloud.com/todd-engle/wednesday-wake-up-call-with-latreese/"><%= image_tag "kazi.png", class: "my-5" %></a>
  <%= link_to 'CHECK FOR MORE NEWS', news_path, class: "btn btn-success" %>
</div>
