<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "banner_about.jpg" %>')">
  <div class="container">
    <h1><strong>ABOUT</strong><lighter> MELJ Center</lighter></h1>
  </div>
</div>

<div class="container a-main-box">
  <h2>WE RESTORE LIVES!</h2>
  <div class="row a-description">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h4>The mission of MELJ Center (formally MEEELJ, Inc.) is to provide a true opportunity for at-risk youth and formerly incarcerated persons, regardless of previous educational and/or criminal background; while helping them to redirect, restore and reconnect as responsible and employable members of society, and also building sustainable support systems by aiding the families affected by the criminal justice system.</h4>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <iframe src="https://www.youtube.com/embed/SpciTiYh3dU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="aboutemployees">
  <%= render 'about/aboutemployees' %>
</div>
<div id="aboutlatreese">
  <%= render 'about/aboutboardchair'%>
</div>


