<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_main.jpg"%>')">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1>MELJ Center</h1>
          <p>Effecting Change & Opportunity for All</p>
      </div>
    </div>
  </div>
</div>

<div class="container landing-welcome">
  <div class="row">
    <div class="col-12">
      <h3>MELJ CENTER MAKES THE FORMERLY INCARCERATED REINTEGRATION POSITIVE - SUPPORTIVE - ELIMINATING NEGATIVE BARRIERS FOR SUCCESS!</h3>
    </div>
  </div>
</div>

<%= render 'homeabout' %>
<%= render 'homedonate' %>
<%= render 'homekazi' %>
