<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_news.jpg" %>')">
  <div class="container banner-title">
    <h1>LATEST NEWS</h1>
  </div>
</div>
<div class="container">
  <div class="news-title">
    <h3>The MELJ Center (MEEELJ, Inc.) is a premier statewide, non-profit organization that helps at-risk-youth and formerly incarcerated persons come into contact with services to actualize their potential and restore their rights.</h3>
  </div>
  <div class="facebook">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FME3LJCenter%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=654259551978471" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
