<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_news.jpg" %>')">
  <div class="container banner-title">
    <h1>LATEST NEWS</h1>
  </div>
</div>
<div class="container">
  <div class="news-title">
    <h3>The MELJ Center (MEEELJ, Inc.) is a premier statewide, non-profit organization that helps at-risk-youth and formerly incarcerated persons come into contact with services to actualize their potential and restore their rights.</h3>
  </div>

    <div class="col-12 news">
      <h3>Tune in every first Thursday of the month</h3>
      <h3>[9-10 AM]</h3>
      <h2>IRON SHARPENS IRON</h2>
      <h1><a href="https://www.mixcloud.com/todd-engle/wednesday-wake-up-call-with-latreese/">87.7 FM</a></h1>
    </div>

  <div class="facebook">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FME3LJCenter&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=654259551978471" width="500" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
