<div class="container admins">
  <h1>ADMIN PAGE</h1>
  <div class="admin-buttons">
    <%= link_to "EVENTS", admin_events_path, class: "btn btn-success w-50" %>
    <%= link_to "VIDEOS", admin_videos_path, class: "btn btn-success w-50" %>
  </div>
</div>
