<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_assistance.jpg" %>')">
  <div class="container">
    <h1>FINANCIAL ASSISTANCE</h1>
  </div>
</div>

<div class="container">
  <%= render 'assistance_form' %>
</div>
