.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-size: 65px;
    font-weight: bold;
    padding-top: 28vh;
  }
  h3 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 30px;
    font-weight: bold;
    padding-left: 5vw;

  }
}

.banner2 {
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 40px;
  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }
}

.banner3 {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  h2 {
    font-weight: bold;
    padding: 5vh;
  align-items: center;

  }
  h3 {
    padding: 0 5vh 5vh 5vh;
  }
}
