.footer {
  background-color: #354047;
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  padding: 20px;
  color: white;
  position: static;
  bottom: 0px;
  h3 {
    font-style: normal;
    font-weight: 200;
  }
}

.footer-main {
  display: flex;
  justify-content: center;
}

.sponsor-img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.footer-links {
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding-bottom: 20px;
  font-size: 40px;
}

.contact {
  color: white;
  p {
    font-style: normal;
    font-weight: normal;
  }
}


.link {
  a {
    text-decoration: none;
    color: white;
    &:hover{
    color: green;
    }
  }
}

.footer-copyright {
  padding-top: 10px;
  font-size: 0.7rem;
  text-align: right;
}
