.landing-welcome {
  padding: 10vw 0;
  h3 {
    color: green;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }
}

.landing-about-box {
  height: 60vh;
  display: flex;
  justify-content: space-around;
}

.landing-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10vw 10vh;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 50vw;
}

.landing-donate-box {
  height: 85vh;
  padding: 10vw 10vh;
  color: green;
  h2 {
    font-weight: 400;
  }
  h3 {
    font-weight: 100;
  }
}

.landing-donate {
  display: flex;
  justify-content: space-around;

  padding: 5vh;
  font-size: 35px;
  a {
    text-decoration: none;
    font-weight: bold;
    &:hover{
    color: #354047;
    }
  }
}

// .landing-donate-c {
//   text-align: center;
//   // padding: 5vh;
// }

.image-donate {
  width: 200px;
  height: 150px;
}

#btn-donate {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.landing-news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10vw 10vh;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
  h1 {
    color: red;
  }
}
