.landing-welcome {
  padding-top: 10vw;
  padding-bottom: 10vw;
  h1 {
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
  }
}

.landing-about-box {
  display: flex;
  justify-content: space-around;
}

.landing-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10vw 10vh;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 50vw;
}

.landing-donate-box {
  padding-top: 10vw;
  padding-bottom: 10vw;
  color: green;
  h2 {
    font-weight: 400;
  }
  h3 {
    font-weight: 100;
  }
}

.landing-donate {
  display: flex;
  justify-content: space-around;
  padding: 5vh;
}

.image-donate {
  width: 200px;
  height: 150px;
}

#btn-donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-news {
  display: flex;
  justify-content: space-around;
  padding: 10vw 10vh;
  color: white;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.landing-news-img {
  display: flex;
  align-items: center;
}

.landing-news-info {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    color: red;
  }
}

.landing-subscribe {
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: flex;
  flex-direction: column;
  h2 {
    color: green;
    font-weight: bold;
    text-align: center;
    font-weight: 400;
    padding-bottom: 5vw;
  }
}
