<div class="container board-chair">

  <h2>LATREESE COOKE</h2>
  <div class="row board-chair-description">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <iframe src="https://www.youtube.com/embed/on7MKCGNKaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 board-chair-text">
      <h4>
        Founder/Executive Director has a demonstrated history of working in the civic & social organization industry. Skilled in Research, Nonprofit Organizational Management, Human Resources to include specialized expertise in Professional Ethics and Racial Disparities, Event Planning, Management, and Fundraising. Strong business development professional pursuing degree from St. Edward's University. Former City Council Member Martindale, Texas. Radio talkshow host of the "Iron Sharpens Iron" broadcast that airs on KAZI 88.7 FM, developed by Latreese Cooke.
      </h4>
    </div>
  </div>
  <div class="board-chair-text">
    <h4>
      A little bit about our FOUNDER/EXECUTIVE DIRECTOR…. definitely made a quantifiable impact in her field by founding and creating an organization of this type. She developed and created programs which are designed to support participants,reduce recidivism, and provide a beacon of hope.
    </h4>
    <h4>
      Under Latreese’s leadership MELJ has also been involved in helping to advance several different women business owners and leaders. Latreese has assisted numerous different, young up-and-coming organizations to become 501(C)3. In addition, Latreese not only encourages entrepreneurship for people who have been formerly incarcerated but also she helps them plan a business model that provides a basis that can help these organizations to succeed.Latreese is not only the founder and executive director of ME3LJ, she is the heart and soul of this business. In doing so, she tirelessly supports the needs of the organization, staff, and community.
    </h4>
    <h4>
      Most important, always, her focus is: “How can we continue to uplift others?” Consequently, Latreese sets priority to the balance of sustaining the organization and maintaining the community’s needs.
      Latreese is essential because not many people want to serve formerly incarcerated people. Not many individuals wish to work in an organization that is not profit-oriented. Not many people want to constantly overcome adversity that arises from having a black woman-founded organization.
    </h4>
    <h4>
      Significantly, too, in 2018, Latreese was elected President of the Central Texas National Action Network (NAN), which is regarded as: “one of the leading civil rights organizations in the Nation with chapters throughout the entire United States. Founded in 1991 by Reverend Al Sharptonwith a demonstrated history of working in the civic & social organization industry.
    </h4>
  </div>
</div>
