<div class="container board-chair">

  <h2>LATREESE COOKE</h2>
  <div class="row board-chair-description">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <iframe src="https://www.youtube.com/embed/on7MKCGNKaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 board-chair-text">
      <h4>
        Experienced Executive Director with a demonstrated history of working in the civic & social organization industry. Skilled in Research, Nonprofit Organizational Management, Human Resources to include specialized expertise in Professional Ethics and Racial Disparities, Event Planning, Management, and Fundraising. Strong business development professional pursuing degree from St. Edward's University. Former City Council Member Martindale, Texas. Radio talkshow host of the "Iron Sharpens Iron" broadcast that airs on KAZI 88.7 FM, developed by Latreese Cooke with full creative control.
      </h4>
    </div>
  </div>

</div>
