<div class="employees">
  <div class="container">
    <h2>Faces of MELJ</h2>
    <div class="employee-box flex-wrap">
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>EXECUTIVE DIRECTOR</p>
        <p>Latreese Cooke</p>
      </div>
      <div class="employee">
        <%= image_tag "walker.jpg", class: "img-circular" %>
        <p>BOARD OF DIRECTORS - PRESIDENT</p>
        <p>Dr. Juliet E K Walker</p>
      </div>
      <div class="employee">
        <%= image_tag "latreese_cooke.jpg", class: "img-circular" %>
        <p>PROGRAM ASSISTANT</p>
        <p>Sophia Torres</p>
      </div>
    </div>
  </div>
</div>
