<div class="container board-chair">
  <h2>LATREESE COOKE</h2>
  <div class="row board-chair-description">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <iframe src="https://www.youtube.com/embed/on7MKCGNKaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 board-chair-text">
      <h4>
        Latreese Cooke, the MELJ Center's Founder and Executive Director has a demonstrated history of working in the civic & social organization industry. She is skilled in Research, Non-profit Organizational Management and Human Resources that include specialized expertise in Professional Ethics and Racial Disparities, Event Planning, Management, and Fundraising.
      </h4>
      <h4>
        Our Founder and Executive Director has made a quantifiable impact in her field by creating an organization of this type.  She has developed and created programs which are designed to support participants, reduce recidivism and provide a beacon of hope for those that would otherwise be hopeless.
      </h4>
    </div>
  </div>
  <div class="board-chair-text">
    <h4>
      Under Latreese’s leadership, MELJ Center has also been involved in helping to advance several different women as business owners and leaders, as well as assisting numerous up and coming organizations to become 501(C)3.  She not only encourages entrepreneurship for people who have been formerly incarcerated but will help them form a business model that will provide a basis that helps these organizations to succeed.
    </h4>
    <h4>
      Latreese was elected President of the Central Texas National Action Network (NAN), which is regarded as: “One of the leading civil rights organizations in the nation with chapters throughout the entire United States.  Founded in 1991 by Reverend Al Sharpton with a demonstrated history of working in the civic and social organization industry.
    </h4>
    <h4>
      In addition, Latreese has served on the following boards and committees:
      <ul>
        <li>Current member of the CAPCOG Criminal Justice Advisory Committee (CJAC)</li>
        <li>Texas Criminal Justice Committee</li>
        <li>Measure Austin</li>
        <li>Former City Council Member of Martindale, Texas</li>
      </ul>
    </h4>
    <h4>
      Latreese Cooke’s focus is “How can we continue to uplift others?”  Consequently, Latreese sets priority to the balance of sustaining the organization and maintaining the community’s needs.  There is no other organization in the State of Texas that serves those who have had experiences with the justice system the way that the MELJ Center, under Latreese’s direction, does.  Latreese Cooke is not only the Founder and Executive Director of MELJ, she is the heart and soul of this business, and she tirelessly supports the needs of this organization, staff and community.
    </h4>
    <h4>
      Latreese is currently pursuing a degree from St. Edward’s University for Business Administration Management.  She is also a veteran radio talk show host of a show she developed called “Iron Sharpens Iron” that airs on KAZI 88.7 FM.
    </h4>
  </div>
</div>
