<h2>OPENING HOURS</h2>
<div class="open">
  <div>
    <p>MONDAY:</p>
    <p>TUESDAY:</p>
    <p>WEDNESDAY:</p>
    <p>THURSDAY:</p>
    <p>FRIDAY:</p>
    <p>SATURDAY:</p>
    <p>SUNDAY:</p>
  </div>
  <div>
    <p>8:30 am -  5:00 pm</p>
    <p>8:30 am -  5:00 pm</p>
    <p>8:30 am -  5:00 pm</p>
    <p>8:30 am -  5:00 pm</p>
    <p>8:30 am -  5:00 pm</p>
    <p>closed</p>
    <p>closed</p>
  </div>
</div>
