<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_contact.jpg" %>')">
  <div class="container banner-title">
    <h1>CONTACT US</h1>
  </div>
</div>

<div class="container contact-information-box">
  <div class="row">
    <div class="col-sm-6 col-12" id="contact">
      <h2 class="container">CONTACT US TODAY:</h2>
      <%= render 'contact_form' %>
    </div>
    <div class="container col-sm-6 col-12 contact-information">
      <h2 class="container">CHECK WHEN WE ARE OPEN FOR YOU!</h2>
      <div class="open">
        <div class="days">
          <h4>MONDAY:</h4>
          <h4>TUESDAY:</h4>
          <h4>WEDNESDAY:</h4>
          <h4>THURSDAY:</h4>
          <h4>FRIDAY:</h4>
          <h4>SATURDAY:</h4>
          <h4>SUNDAY:</h4>
        </div>
        <div class="hours">
          <h4>8:30AM -  5:00PM</h4>
          <h4>8:30AM -  5:00PM</h4>
          <h4>8:30AM -  5:00PM</h4>
          <h4>8:30AM -  5:00PM</h4>
          <h4>8:30AM - 12:00PM</h4>
          <h4>CLOSED</h3>
          <h4>CLOSED</h3>
        </div>
      </div>
    </div>
  </div>
</div>
